/*
Theme Name: Esthon Theme
Author: Esthon Wood
Description: Esthon's custom theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: esthontheme
*/

body {
    color: #545454;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

a:link, a:visited {
    color: #4285f4;
}


p {
    line-height: 1.7em;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

article.post:last-of-type {
    border-bottom: none;
}

.site-header {
    border-bottom: 3px solid #ecf0f1;
}

.site-footer {
    border-top: 3px solid #ecf0f1;
}

.sidebar {
    float: right;
    padding: 0 40px;
    /*position: fixed;*/
    /*top: 0;*/
}